@import "tailwindcss";

:root {
  --primary: #F0F0F0;
  --text-default:#000000CC;


}
@layer base {
  html, body {
    font-family: var(--font-poppins), sans-serif;
  }
}

@theme inline {
  --color-primary: var(--primary);
  --color-text-default: var(--text-default);
  --spacing-home-padding-y: 4rem;
  --spacing-home-padding-x: 5.2rem;
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
